[user]
	email = sebastian.freitag@fernride.com
	name = Sebastian Freitag
[advice]
	addIgnoredFile = false
	detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
